html,input,select, textarea{
    font-size: 1.05rem;
}
#search-bar{
    display: flex;
    justify-content: space-around;
}
#search-bar div:nth-of-type(odd){
    margin-top: 0.4rem;
}
.nav-bar{
    display: flex;
    justify-content: center;
}
a{
    color: black;
}
#forecast-cards{
    width:auto;
    border: 2px solid black;
}
